form {
    margin: 30px;
    background-color: #86A3B8;
    padding: 30px;
    border-radius: 30px;
}

form .button {
    float: right;
    background-color: #86A3B8;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

form .button:hover {
    background-color: #5d97c1;
}

form button {
    font-size: larger;
}